* {
  margin: 0;
  padding: 0;
  background-color: rgb(28, 29, 29);
  overflow-y: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}

.clickedPoint {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.4rem;
}

.button {
  background-color: azure;
  width: 10%;
}
